<div id="header" class="container">
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <div class="container">
          <img src="../../assets/284-2847215_free-man-woman-icon-png-blue-male-icon-removebg-preview-removebg-preview.jpg" alt="" style="height: 35px;">
          &nbsp;
          <a class="navbar-brand" href="#" id="title">Customer Manager</a>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item "  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/customers']" >Customers<span class="sr-only"></span></a>
              </li>
              <li class="nav-item "  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/Orders']" >Orders<span class="sr-only"></span></a>
              </li>
              <li class="nav-item "  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/About']" >About<span class="sr-only"></span></a>
              </li>
              <li class="nav-item "  routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <a class="nav-link" [routerLink]="['/Login']" >Login<span class="sr-only"></span></a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</div>

