<app-header></app-header>

<div class="container p-2">
    <img src="../../assets/icon-person-512.webp"  alt="customer icon" style="height: 35px; margin-left: 25px;">
    <span>Customers Information</span>
    <br/><br/>
    &nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <img src="../../../../assets/download.png" alt="list icon" style="height:20px">
         Customer Details
    &nbsp;&nbsp;
        <img src="../../../../assets/YPS__tags_W-512.png" alt="Map icon" style="height:30px">
        Customer Order 
     &nbsp;&nbsp;
    <img src="../../../../assets/images (2).png" alt="add icon" style="height:20px">
    Edit Customer
</div>

