span {
    font-size: 24px;
    opacity: 0.9;
}
.filter {
    margin-left: 285px;
    font-size: 16px;
}
.search-bar {
    margin-left: 77%;
    margin-top: -75px;
}

img{
    height: 20px;
    width: 20px;
    margin-left: 35px;
}
#card-title{
    color: white;
    font-weight: bolder;
}

p{
    font-size: medium;
    font-weight: bold;
}